NODE_ENV=development
PORT=4000
DATABASE_URL="file:./prisma/dev.db"
CORS_ORIGIN="http://127.0.0.1:5000,http://localhost:5000"
FRONTEND_URL="http://127.0.0.1:5000"
PATREON_OAUTH_ENABLED=true
PATREON_CLIENT_ID="P4ZsXpgq0RFaR8qE2Gu5bL4rkijBCqHQ86Bzvzbyk3pYsAON_pAcbn14_CVmG0JP"
PATREON_CLIENT_SECRET="yHFNg0wbaqAqy9L0CpNoJ4KmL0Sdx5Qj5zg4-O-InDMPuOGO4fnn6EjANVasPdKH"
PATREON_REDIRECT_URI="http://127.0.0.1:4000/api/patreon/oauth/callback"
PATREON_SCOPES="identity identity.memberships"
PATREON_CAMPAIGN_ID=""
PATREON_TOKEN_ENCRYPTION_KEY="1234567890"
